{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style type="text/css"><!--

    td.past-month {
        color: #bbb;
    }

    #cal table {
        margin: 0 10%;
        width: 80%;
        height: 80%;
    }

    #cal h1 {
        background-color: #fff;
        padding: 3px;
    }

    //--></style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="twelve columns centered">
            <div id="cal">
                {% for month in cal %}
                {% set current_month = loop.index %}
                <div>
                    <h1>{{ ['January', 'Febuary', 'March', 'April',
                            'May', 'June', 'July', 'August',
                            'September', 'October', 'November', 'December'][loop.index0] }} {{ year }}</h1>
                    <table>
                        {% for week in month %}
                        <tr>
                            {% for date in week %}
                                {% if date.month == current_month %}
                                <td class="current-month">
                                {% else %}
                                <td class="past-month">
                                {% endif %}
                                {{ date.day }}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script type="text/javascript">
    $(window).load(function() {
        $('#cal').orbit({     
            animation: 'fade',
            animationSpeed: 0,
            timer: false,
            directionalNav: true,
            fluid: '4x3'
        });
   });
</script>
{% endblock %}